.tile {
  height: 100px;
  width: 105px;
  border-right: 5px solid #4b4b4b;
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile:last-child {
  border-right: none;
}
